/* Top Navbar */
.top-navbar {
    position: sticky;
    top: 0;
}

/* COLOR */
.color-dark{
    color: #1D1D1B;
}

.color-navy-blue{
    color: #0B3051;
}

/* LOG IN PAGE */
.container {
    display: flex;
    justify-content: space-around;
}

.left-container img{
    width: 50px;
    height: 50px;
}